<h1><a href="/">Home</a></h1>
<h1>Update {{listing.listing_title}}:</h1>
<form id="updatelisting" action="/listing" method="post">
    Listing Name: <input type="text" name="listing_title" value="{{listing.listing_title}}" required><br>
    Amount (oz): <input type="number" step=".1" min="0" name="amount" value="{{listing.amount}}" required><br>
    Price (USD): <input type="number" step=".01" min="0" name="price" value="{{listing.price}}" required><br>
    Dairy Free:
    {{#if listing.dairy_free}}
    <input type="radio" name="dairy_free" value="1" checked>Yes
    <input type="radio" name="dairy_free" value="0">No<br />
    {{else}}
    <input type="radio" name="dairy_free" value="1">Yes
    <input type="radio" name="dairy_free" value="0" checked>No<br />
    {{/if}}
    Frozen: {{frozen}}
    {{#if listing.frozen}}
    <input type="radio" name="frozen" value="1" required checked>Yes
    <input type="radio" name="frozen" value="0" required>No<br />
    {{else}}
    <input type="radio" name="frozen" value="1" required>Yes
    <input type="radio" name="frozen" value="0" required checked >No<br />
    {{/if}}
    Start date: <input type="date" name="date_start" value="{{listing.date_start}}" required><br>
    End date: <input type="date" name="date_end" value="{{listing.date_end}}" required><br>
    Active:
    {{#if listing.active}}
    <input type="radio" name="active" value="1" required checked>Yes
    <input type="radio" name="active" value="0" required>No<br />
    {{else}}
    <input type="radio" name="active" value="1" required>Yes
    <input type="radio" name="active" value="0" required checked>No<br />
    {{/if}}
    Shop Name: {{listing.shop_name}}<br />
    <p>
        Note: A listing has full participation with a merchant.<br>
        It cannot be added without a merchant account.<br>
    </p>
</form>
<button onclick="updateListing({{listing.lid}})">Update</button>