

<h1><a href="/">Home</a></h1>
<h1>Mark {{review.title}} Helpful:</h1>
<form id="mark-helpful" action="/reviews" method="post">
    Reviewer: <select name="user-name" id="user-selector">
        {{#each user}}
        <option value="{{id}}">{{fname}} {{lname}}</option>
        {{/each}}
    </select><br />
    Is this review helpful?
    <input type="radio" name="helpful" value="No" checked>No
    <input type="radio" name="helpful" value="Yes">Yes <br />
    </select>
</form>
<button onclick="updateReview({{review.id}})">Update</button>