<h1><a href="/">Home</a></h1>

<h1>Update Helpful Reaction</h1>
<form id="updatehelpful" action="/helpful" method="post">
    User: <select name="uid" id="user-selector" required>
        {{#each user}}
        <option value="{{uid}}">{{fname}} {{lname}}</option>
        {{/each}}
		</select>
		<br>
    Helpful Review: <select name="rid" id="review-selector" required>
		{{#each review}}
		<option value="{{rid}}">{{title}} by {{fname}} {{lname}}</option>
		{{/each}}
		</select>
</form>
<button onclick="updateHelpful({{helpful.uid}}, {{helpful.rid}})">Update</button>