<h1><a href="/">Home</a></h1>
<h1>Update Review "{{review.title}}":</h1>
<form id="updatereview" action="/review" method="post">
    Rating: <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select><br>
    Review Title: <input type="text" name="title" value="{{review.title}}" required><br>
    Review Body: <input type="text" name="body" value="{{review.body}}"><br>
    Reviewer: <select name="uid" id="user-selector" required>
        {{#each user}}
        <option value="{{uid}}">{{fname}} {{lname}}</option>
        {{/each}}
    </select><br />
    Listing Title:
    <select name="lid" id="listing-selector" required>
        {{#each listing}}
        <option value="{{lid}}">{{listing_title}}</option>
        {{/each}}
    </select>
</form>
<button onclick="updateReview({{review.rid}})">Update</button>
<br /><br />
<p>Note: A review has full participation with a listing.<br />
It cannot be added without creating a listing.<br />
Please visit the Reviews page to add a review and link it to a listing, or<br />
delete the review and remove the relationship. See Piazza @195 @200.<br /></p>